
//-----------------sections -------------|
section, #services, #testimonials, #brands, #contact { 
    //remove all these ID's after finished
    height: 600px;
    display: block;
    margin: 40px auto;
    padding: 20px;
}



/*-----------------sections -------------*/
#about {
    height: 600px;
    margin-top: 0;
    h1 {
        display: none; /* hidden for SEO */
    }
    div, aside {
        height: 300px;
        padding: 5px 0.5%;
        margin: 5px 0;
        background: pink;
        text-align: left;
    }    
    div {
        float: left;
        width: 39%;    
    }
    aside {
        float: right;
        width: 59%;  
    }
}











#services {
    top: 600px;
    background: red;
}
#testimonials {
    top: 1500px;
    background: lightblue;
}
#brands {
    top: 2000px;
    background: orange;
}

/*----------------- Contact -------------*/
#contact {
    top: 2000px;
    background: gray;
    div, aside {
        height: 400px;
        padding: 5px 0.5%;
        margin: 5px 0;
        background: pink;
        text-align: left;
    }    
    div {
        float: right;
        width: 38%;    
    }
    aside {
        float: left;
        width: 58%;  
    }
}

