/*----------------------- @Desktop -----------------------------*/

@media all and (min-width: 901px) and (max-width: 1200px) {

    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~ for testing
    body {
        background: pink;
    }
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~ end for testing

    #about, #services, #testimonials, #brands, #contact {
        position: absolute;
        height: 200px;
    }
    #about {
        top: 500px;
        background: green;
    }
    #services {
        top: 1000px;
        background: red;
    }
    #testimonials {
        top: 1500px;
        background: lightblue;        
    } 
    #brands {
        top: 2000px;
        background: orange;
    }        
    #contact {
        top: 2000px;
        background: gray;
    }        
//-----------------sections -------------|
    #about, #services, #testimonials, #brands, #contact {
        width: 80%;
        text-align: center;
        height: 200px;
        margin: 10px auto;
        padding: 10px;
        baborder: 1px solid gray;
    }
    
    
    
    
} // end of @media