/*----------------------- @Mobile -----------------------------*/

@media all and (min-width: 0px) and (max-width: 600px) {
    
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~ for testing
    body {
        background: green;
    }
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~ end for testing

    #burger-menu {
        left: 0;
        width: 100%;
        background: blue;
        z-index: 99999999999999;
        float: left;
        height: 200px;
    }
    #main-menu {
        display: none;
    }    
    
    
    
} // end of @media