/*----------------------- @Mobile -----------------------------*/

@media all and (min-width: 0px) and (max-width: 600px) {
    
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~ for testing
    body::before {
        content: "mobile media query (breakpoint: 50px/600px)";
        display: block;
        text-align: center;
        background: rgba(0,178,255, 0.6);
        color: #FFF;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 5px 0;          
        z-index: 99;
    }
//-~~~~~~~~~~~~~~~~~~~~~~~~~~~ end for testing

    #burger-menu {
        left: 0;
        width: 100%;
        background: blue;
        z-index: 99999999999999;
        float: left;
        height: 200px;
    }
    #main-menu {
        display: none;
    }    
    
    
    
} // end of @media