/*----------------------- @Tablets -----------------------------*/
@media all and (min-width: 601px) and (max-width: 900px) {
    body::before {
        content: "tablet media query (breakpoint: 601px/900px)";
        display: block;
        text-align: center;
        background: rgba(127,219,255, 0.6);
        color: #FFF;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        padding: 5px 0;
    }    
    #burger-menu {
        display: none;
    }    
    #main-menu {
        height: 50px;
    }
    #main-menu ul li {
        display: inline-block;
        margin: 0.5rem;
        padding: 10px 0;

    }
    #main-menu ul li a {
        font-size: 0.9rem;
        padding: 5px;
    }
    
/*----------------- About -------------*/
    #about {
        margin: 100px auto;
        img.banner {
            position: absolute;
            left: 0.01%;
            top: 2%;
            width: 250px;
            background: green;
        }
        div, aside {
            height: 300px;
            padding: 5px 0;
            margin: 5px 0;
        }    
        div {
            width: 30%;    
        }
        aside {
            width: 56%; 
            p {
                width: 90%;
            }
        }
    }
    #the-team {
        height: 300px;
        margin: 0px auto;
        padding: 0;
        article {
            margin-top: 200px;
        }
        .team {
            margin: 20px 0;
            padding: 0;
            img {
                max-width: 100%;
            }
            p {
                font-size: 0.9rem;
                padding: 5px 5%;
                margin: 5px auto;
            }
            h3 {
                font-size: 1.6rem;
                padding: 10px 0;
            }
        }
    }

/*----------------- Services -------------*/
    #services {
        h2 {
            color: $clottedCream;
            font-size: 2rem;
            padding: 0;
            line-height: 1;
        }
        article {
            width: 100%;
            margin: inherit 0 inherit 0;
        }
        div {
            width: 43%;
            margin: 20px 0;
            padding: 0;
            height: 350px;
            text-align: left;
            .services-wrapper {
                width: 100%;
                height: 250px;
                overflow: hidden;
                padding: 0;
                margin: 0;
            }
            img {
                max-width: 100%;
                width: 200px;
                height: 200px;

            }
        }
    }
} // end of @media

        
        
        
        
        
        
        