@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

p, li, a, h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

p {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  padding: 0.6rem 0;
  line-height: 2;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  outline: 0 !important;
}

body {
  width: 100%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  position: relative;
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  /* for rems */
}

header h1 {
  display: none;
}

footer {
  width: 100%;
  height: 80px;
  background: lightgray;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

* {
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

#main-menu {
  width: 100%;
  height: 100px;
  list-style: none;
  background: lightgray;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

#main-menu ul {
  list-style: none;
  display: inline;
  overflow: hidden;
}

#main-menu ul li {
  display: inline-block;
  margin: 1rem;
  padding: 20px 0;
}

#main-menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 1;
  background: lightgray;
  padding: 45px 1rem;
}

#main-menu ul li a:hover {
  opacity: 0.5;
  background: gray;
}

/******************************** Burger Menu ************************************/
.mobile header {
  width: 100%;
  background: #1d1f20;
  height: 50px;
  line-height: 50px;
}

.hamburger-button {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.cross-hamburger {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.hamburger-menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  margin: 0 auto;
  background: #131313;
  padding: 0;
  display: inline-block;
  padding: 0;
  text-align: center;
  list-style-type: none;
  list-style-image: none;
}

.hamburger-menu li {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  border-bottom: #1d1f20 1px solid;
}

.hamburger-menu li:hover {
  background: #181818;
  padding: 15px 0 15px 0;
  border-bottom: #1d1f20 1px solid;
}

.hamburger-menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}

.hamburger-menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.hamburger-menu a {
  text-decoration: none;
  color: white;
}

.mobile {
  margin: 0 auto;
  text-align: center;
  display: none;
}

/*----------------------- @Mobile -----------------------------*/
@media all and (min-width: 0px) and (max-width: 600px) {
  body::before {
    content: "mobile media query (breakpoint: 50px/600px)";
    display: block;
    text-align: center;
    background: rgba(0, 178, 255, 0.6);
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    z-index: 99;
  }

  .mobile {
    display: block;
  }

  #main-menu {
    display: none;
  }
}
/*----------------------- @Tablets -----------------------------*/
@media all and (min-width: 601px) and (max-width: 900px) {
  body::before {
    content: "tablet media query (breakpoint: 601px/900px)";
    display: block;
    text-align: center;
    background: rgba(127, 219, 255, 0.6);
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 5px 0;
  }

  #burger-menu {
    display: none;
  }

  #main-menu {
    width: 100%;
    height: 50px;
    list-style: none;
    background: lightgray;
    margin: 0 auto;
    text-align: center;
  }

  #main-menu ul {
    list-style: none;
    display: inline;
    overflow: hidden;
  }

  #main-menu ul li {
    display: inline-block;
    margin: 0.5rem;
    padding: 10px 0;
  }

  #main-menu ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 100;
    opacity: 1;
    background: lightgray;
    padding: 5px 0.1rem;
  }

  #main-menu ul li a:hover {
    opacity: 0.5;
    background: gray;
  }

  #about {
    position: absolute;
    top: 800px;
  }
}
section, #services, #testimonials, #brands, #contact {
  height: 600px;
  display: block;
  margin: 40px auto;
  padding: 20px;
}

/*-----------------sections -------------*/
#about {
  height: 600px;
  margin-top: 0;
}
#about h1 {
  display: none;
  /* hidden for SEO */
}
#about div, #about aside {
  height: 300px;
  padding: 5px 0.5%;
  margin: 5px 0;
  background: pink;
  text-align: left;
}
#about div {
  float: left;
  width: 39%;
}
#about aside {
  float: right;
  width: 59%;
}

#services {
  top: 600px;
  background: red;
}

#testimonials {
  top: 1500px;
  background: lightblue;
}

#brands {
  top: 2000px;
  background: orange;
}

/*----------------- Contact -------------*/
#contact {
  top: 2000px;
  background: gray;
}
#contact div, #contact aside {
  height: 400px;
  padding: 5px 0.5%;
  margin: 5px 0;
  background: pink;
  text-align: left;
}
#contact div {
  float: right;
  width: 38%;
}
#contact aside {
  float: left;
  width: 58%;
}

/*----------------------- @Large Screens -----------------------------*/
@media all and (min-width: 1201px) {
  body::before {
    content: "Large screens media query (breakpoint: 901px)";
    letter-spacing: 2px;
    display: block;
    text-align: center;
    background: rgba(0, 178, 255, 0.6);
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    z-index: 99;
  }
}
