* {
    box-sizing: border-box;
    outline: 0 !important
}
body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px; // for rems
}