* {
    box-sizing: border-box;
    outline: 0 !important;
}
body {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    position: relative;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px; /* for rems */
}
header h1 {
    display: none;
}
